

<ion-view view-title="Login" class="login" style="background-image:url('img/back2.png')">
  <ion-content class="has-footer" >

      <div >
        <img ng-src={{bd_src}} class='img-responsive' style="width:50%;height:50%;position:relative;left:23%;margin-top:75px" >
      </div>
      <div class="row">
        <div class=" col-xs-offset-25 col">
          <h5 style="text-align:center;color:#FFFFFF"> IN ASSOCIATION WITH </h3>
        </div>
      </div>
      <div class="row">
          <img ng-src={{logo2_src}} class='img-responsive' style="width:50%;height:50%;position:relative;left:29%">
      </div>

    </br>

    <div class="row responsive-sm" style="position:relative;left:12px">
    <div class="col col-33 col-offset-20 social-buttons">
      <a class="btn btn-block btn-xs btn-social btn-facebook" ng-click="fbLogin()">
        <span class="fa fa-facebook"></span>
          Sign in using Facebook
      </a>
    </div>
    <div class=" col col-33  social-buttons">
      <a class="btn btn-block btn-xs btn-social btn-google" ng-click="fbLogin()">
        <span class="fa fa-google"></span>
          Sign in using Google
      </a>
    </div>
  </div>



  </ion-content>

</ion-view>
